<div class="jumbotron jumbotron-fluid" style="margin:0em; background: rgb(52, 58, 64)">
    <div class="container">
        <h1 class="display-4" style="text-align:center; font-size:1em; color:white;">© THE MOVIE. All right reserved
            Designed by THE MOVIE</h1>
    </div>
</div>