<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE9">
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome5.8.2.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>web programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="/image/png" sizes="16x16" href="img/knu.png">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <%- include('layouts/nav'); -%>
    <div class="container-sm log_join_box">
        <div class="row">
            <div class="col-12" style="text-align: right; padding-right:2vw;">
                <a href="/" style="text-decoration: none;color: grey;size:3em;"><i class="fas fa-times fa-3x"></i></a>
            </div>
        </div>
        <div class="title_name">

            <h4>회원가입</h4>

            <div class="title_solidline"></div>
        </div>
        <form method="POST" enctype="multipart/form-data" action="/auth/register">
            <div class="form-group">
                <div class="card" style="max-height:10em; overflow-y:scroll;">
                    <div class="card-body" >
                        <h6 class="card-subtitle mb-2 text-muted"><b>약관</b></h6>
                        <p class="card-text" style="font-size:0.8em;">
                            <br />
                            <b>제1조(목적)</b>
                            <br />
                            홈페이지 이용약관(이하 "본 약관"이라 한다)은 홈페이지 및 홈페이지의 제반 온라인 서비스(이하 "서비스"라 한다) 이용과 관련하여  이용자의 권리·의무·책임사항과 기타 필요한 사항을 규정함을 목적으로 합니다.
                            <br /><br />
                            <b>제2조(정의)</b>
                            <br />
                            본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
                            <br />
                            1. "이용자"란 홈페이지에 접속하여 본 약관에 따라 제공하는 서비스를 이용하는 회원 및 비회원을 말합니다.
                            <br />
                            2. "회원"이란 홈페이지의 가입 신청 절차에 따라 회원 등록을 한 자로서 홈페이지의 정보 및 서비스를 계속적으로 이용할 수 있는 자를 말합니다.
                            <br /><br />
                            <b>제3조(회원 가입)</b>
                            <br />
                            1. 홈페이지 회원에 가입하고자 하는 이용자는 홈페이지의 회원 가입 신청 절차에 따라 본인확인을 거쳐 본 이용약관 및 개인정보처리방침 등에 "동의" 여부를 표시하고, 개인정보를 기재함으로써 회원에 가입합니다.
                            <br /><br />
                            <b>제4조(이용자의 의무)</b>
                            <br />
                            ①이용자는 다음 각 호의 행위를 하여서는 안 됩니다.
                            <br />
                            &nbsp;1. 신청 또는 변경 시 허위 내용을 등록하는 행위
                            <br />
                            &nbsp;2. 타인의 명의를 도용하여 부정사용하는 행위
                            <br />
                            &nbsp;3. 관리자를 가장하거나 사칭하는 행위
                            <br />
                            &nbsp;4. 홈페이지에 게시된 정보를 변경하는 행위
                            <br />
                            &nbsp;5. 다른 이용자에 대한 개인정보를 수집·저장·공개하는 행위
                            <br />
                            &nbsp;6. 외설 또는 폭력적·위협적인 메시지·화상·음성·기타 공서양속에 반하는 정보를 메일로 송신하거나 공개 또는 게시하는 행위
                            <br />
                            &nbsp;7. 사생활 침해 또는 명예훼손 등 타인의 권리를 침해하는 정보를 유통시키는 행위
                            <br />
                            &nbsp;8. 타인의 지적재산권을 침해하거나 업무를 방해하는 행위
                            <br />
                            &nbsp;9. 컴퓨터 소프트웨어·하드웨어·네트워크 등의 정상적인 가동을 방해, 파괴할 목적으로 고안된 소프트웨어 바이러스·기타 다른 컴퓨터 코드·파일·프로그램을 포함하고 있는 자료를 게시하거나 전자우편으로 발송하는 행위
                            <br />
                            &nbsp;10. 불특정 다수를 대상으로 하여 광고 또는 선전을 게시하거나 스팸메일을 전송하는 등의 행위
                            <br />
                            &nbsp;11. 홈페이지의 이용 약관을 위반하는 행위
                            <br />
                            &nbsp;12. 기타 관련 법령에 의하여 그 전송 또는 게시가 금지되는 정보를 전송 또는 게시하는 행위
                            <br />
                            ② 제1항에 해당하는 행위를 한 이용자가 있을 경우 이용자의 회원자격을 적정한 방법으로 제한, 정지 또는 상실시킬 수 있습니다.
                            <br />
                            ③ 이용자는 그 귀책사유로 인하여 다른 이용자가 입은 손해를 배상할 책임이 있습니다.
                            <br />
                        </p>

                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Check_index" required>
                        <label class="form-check-label" for="Check_index">
                            약관에 동의합니다.
                        </label>
                    </div>
                </div>

            </div>


            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="inputid">아이디</label>
                    <div class="input-group">
                        <input type="text" class="form-control is-invalid" id="inputID" name="user_id" minlength="6" maxlength="20" onchange="CountInput(this.value, this.id)" onkeyup="checktype(this.id)" placeholder="아이디.." required>

                        <div id="message_inputID" class="invalid-feedback">
                            아이디는 최소 6자, 최대 20자입니다. 영어 대문자, 특수문자, 한글은 이용하실 수 없습니다.
                        </div>
                    </div>
                </div>

            </div>
            <script>
                function checktype(id) {
                    var pattern_num = /[0-9]/;	// 숫자
                    var pattern_eng = /[a-zA-Z]/;	// 문자
                    var pattern_spc = /[~!@#$%^&*()_+|<>?:{};/`=.,-]/; // 특수문자
                    var pattern_kor = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 한글체크

                    var check_id = document.getElementById(id);
                    check_id.value = check_id.value.toLowerCase();

                    // test() ㅡ 찾는 문자열이 들어있는지 확인
                    if (pattern_spc.test(check_id.value)) {

                        check_id.value = check_id.value.replace(pattern_spc, ""); // 찾은 특수 문자를 제거
                        document.getElementById("message_" + id).innerHTML = "특수문자를 사용할 수 없습니다.";
                        document.getElementById(id).setAttribute("class", "");
                        document.getElementById(id).setAttribute("class", "form-control is-invalid");
                        document.getElementById("message_" + id).setAttribute("class", "");
                        document.getElementById("message_" + id).setAttribute("class", "invalid-feedback");

                    } else if (pattern_kor.test(check_id.value)) {
                        check_id.value = check_id.value.replace(pattern_kor, ""); // 찾은 한글 제거
                        document.getElementById("message_" + id).innerHTML = "한글를 사용할 수 없습니다.";
                        document.getElementById(id).setAttribute("class", "");
                        document.getElementById(id).setAttribute("class", "form-control is-invalid");
                        document.getElementById("message_" + id).setAttribute("class", "");
                        document.getElementById("message_" + id).setAttribute("class", "invalid-feedback");

                    }
                }


                function CountInput(val, id) {
                    var min_length = document.getElementById(id).getAttribute("minlength");
                    var max_length = document.getElementById(id).getAttribute("maxlength");
                    if (val.length < min_length) {
                        document.getElementById("message_" + id).innerHTML = "최소 글자수는 " + min_length + "자 입니다";
                        document.getElementById(id).setAttribute("class", "");
                        document.getElementById(id).setAttribute("class", "form-control is-invalid");
                        document.getElementById("message_" + id).setAttribute("class", "");
                        document.getElementById("message_" + id).setAttribute("class", "invalid-feedback");
                    } else {
                        document.getElementById("message_" + id).innerHTML = "적정 글자수 입니다";
                        document.getElementById(id).setAttribute("class", "");
                        document.getElementById(id).setAttribute("class", "form-control is-valid");
                        document.getElementById("message_" + id).setAttribute("class", "");
                        document.getElementById("message_" + id).setAttribute("class", "valid-feedback");
                    }

                }


            </script>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationServer01">비밀번호</label>
                    <input type="password" class="form-control is-invalid" id="inputpw1" onchange="ComparePw()" name="password" minlength="8" maxlength="12" placeholder="비밀번호" required>
                    <div class="invalid-feedback" id="message_inputpw1">
                        비밀번호는 최소 8자, 최대 12자 입니다.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationServer02">비밀번호 확인</label>
                    <input type="password" class="form-control is-invalid" id="inputpw2" onchange="ComparePw()" name="password2" minlength="8" maxlength="12" placeholder="비밀번호 확인" required>
                    <div class="invalid-feedback" id="message_inputpw2">
                        비밀번호를 다시 입력해주세요.
                    </div>
                </div>
            </div>
            <script>
                function ComparePw() {
                    var pw1 = document.getElementById("inputpw1");
                    var pw2 = document.getElementById("inputpw2");
                    var min_length = pw1.getAttribute("minlength");
                    var max_length = pw1.getAttribute("maxlength");
                    var lenth_check = 0;
                    var compare_check = 0;


                    if (min_length > pw1.value.length) {
                        document.getElementById("message_inputpw1").innerHTML = "최소 글자수는 " + min_length + "자 입니다";
                        document.getElementById("inputpw1").setAttribute("class", "");
                        document.getElementById("inputpw1").setAttribute("class", "form-control is-invalid");
                        document.getElementById("message_inputpw1").setAttribute("class", "");
                        document.getElementById("message_inputpw1").setAttribute("class", "invalid-feedback");
                        lenth_check = 0;
                        
                    } else if (max_length < pw1.value.length) {
                        document.getElementById("message_inputpw1").innerHTML = "최대 글자수는 " + max_length + "자 입니다";
                        document.getElementById("inputpw1").setAttribute("class", "");
                        document.getElementById("inputpw1").setAttribute("class", "form-control is-invalid");
                        document.getElementById("message_inputpw1").setAttribute("class", "");
                        document.getElementById("message_inputpw1").setAttribute("class", "invalid-feedback");
                        lenth_check = 0;
                    }else {
                        document.getElementById("message_inputpw1").innerHTML = "적정 글자수 입니다";
                        document.getElementById("inputpw1").setAttribute("class", "");
                        document.getElementById("inputpw1").setAttribute("class", "form-control is-valid");
                        document.getElementById("message_inputpw1").setAttribute("class", "");
                        document.getElementById("message_inputpw1").setAttribute("class", "valid-feedback");
                        lenth_check = 1;
                    }

                    if (pw1.value == pw2.value) {
                        document.getElementById("message_inputpw2").innerHTML = "비밀번호가 일치합니다.";
                        document.getElementById("inputpw2").setAttribute("class", "");
                        document.getElementById("inputpw2").setAttribute("class", "form-control is-valid");
                        document.getElementById("message_inputpw2").setAttribute("class", "");
                        document.getElementById("message_inputpw2").setAttribute("class", "valid-feedback");
                        compare_check = 1;
                    } else {
                        document.getElementById("message_inputpw2").innerHTML = "비밀번호가 불일치합니다. 다시 시도해주십시요.";
                        document.getElementById("inputpw2").setAttribute("class", "");
                        document.getElementById("inputpw2").setAttribute("class", "form-control is-invalid");
                        document.getElementById("message_inputpw2").setAttribute("class", "");
                        document.getElementById("message_inputpw2").setAttribute("class", "invalid-feedback");
                        compare_check = 0;
                    }

                    if (compare_check * lenth_check == 1) {
                        document.getElementById("submit_join").disabled = false;
                    } else {
                        document.getElementById("submit_join").disabled = true;
                    }
                    
                }
            </script>


            <div class="form-row">
                <input type="submit" class="btn btn-dark btn-sm" id ="submit_join" style="width:auto; " value="회원가입" disabled>
            </div>
        </form>
    </div>
    

 


</body>


</html>