.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}

* {
    font-family: 'NanumSquare', sans-serif !important;
}

body, html {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background: #f1f1f1;
}

body {
    height: 100vh;
}

#header {
    width: 100%;
    background-color: #005AAB;
    height: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

/* #back_btn{
    text-decoration: none;
    color: #fff;
} */

#logo {
    font-weight: 900;
    font-size: 20px;
    color: #fff;
}

.line_div {
    position: relative;
    font-size: 25px;
}

.line_img {
    background-image: -webkit-linear-gradient(90deg, #005aab 50%, #005aab 50%);
    height: 3.5em;
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 25px;
}

#icon_div {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    z-index: 3;
    padding-top: 3.8rem;
}

.icon_a {
    text-decoration: none;
    color: #fff;
    z-index: 3;
    font-size: 16px;
    font-weight: 700;
}

#station_mark_div{
    display: flex;
    justify-content: space-between;
    margin: 0 3.4rem;
    z-index: 5;
    height: 0;
}

.station_mark{
    width: .9rem;
    height: .9rem;
    border-radius: 100%;
    background-color: #fff;
    z-index: 5;
    cursor: pointer;
    margin-top: 3px;
}

.line_circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #fff;
    color: #000;
    border-radius: 100%;
    height: 6em;
    width: 6em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.line_circle .station_name {
    text-align: center;
    margin: 0;
    font-size: 1.1em;
    font-weight: 900;
}

.line_circle #station_number {
    width: 5rem;
    height: 2rem;
    font-size: 20px;
    font-weight: 700;
    margin: .5rem auto;
    margin-top: 1.5rem;
    color: #3CB44A;
}

.line1 {
    border: 0.6em solid #d93f5c;
}

#line1 {
    background-color: #d93f5c;
    height: 28px;
    border: none;
}

.line2 {
    border: 0.6em solid #00aa80;
}

#line2 {
    background-color: #00aa80;
    height: 28px;
    border: none;
}

.line3 {
    border: 0.6em solid #ffb100;
}

#line3 {
    background-color: #ffb100;
    height: 28px;
    border: none;
}

.line4 {
    border: 0.6em solid #3CB44A;
}

#line4 {
    background-color: #3CB44A;
    height: 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

hr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 100%;
    z-index: 0;
    margin-top:1rem;
}

#sidebar{
    position: fixed;
    left: 0;
    top: 30%;
    background-color: #fff;
}

.sidecon{
    width: 3.5rem;
    height: 2rem;
    border: #eee 1px solid;
    border-left: none;
    /* color: #fff; */
    text-align: center;
    padding-top: 1rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.sidecon:nth-child(1){
    background-color: #005aab;
    color: #fff;
}

.sidecon:hover{
    transition: all .5s;
}

.sidecon:nth-child(2):hover{
    background-color: #d93f5c;
    color: #fff;
    transition: all .5s;
}

.sidecon:nth-child(3):hover{
    background-color: #00aa80;
    color: #fff;
    transition: all .5s;
}

.sidecon:nth-child(4):hover{
    background-color: #ffb100;
    color: #fff;
    transition: all .5s;
}

.sidecon:nth-child(5):hover{
    background-color: #3CB44A;
    color: #fff;
    transition: all .5s;
}

#content {
    background-color: #fff;
    height: auto;
    width: 65rem;
    margin: 0 auto;
    padding: 5.5rem 3rem;
}

/* card */

.card {
    background-color: #F8F8F8;
    border-radius: 5px;
    padding-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards {
    display: flex;
    margin: 2rem 0;
}

#card01 {
    width: 40%;
    height: 18rem;
}

#card02 {
    width: 60%;
    height: 18rem;
    margin-left: 1rem;
}

#card03 {
    width: 70%;
    height: 18rem;
}

#card04 {
    width: 30%;
    height: 18rem;
    margin-left: 1rem;
}

#card05 {
    width: 40%;
    height: 18rem;
}

#card06 {
    width: 60%;
    height: 18rem;
    margin-left: 1rem;
}

#card07 {
    width: 100%;
    height: 20rem;
}

ul.card_container {
    width: 20em;
    padding: 0;
    margin: 0 auto;
}

.title {
    font-size: 14px;
    font-weight: bold;
}

.card_title {
    font-weight: 600;
    color: #000;
    font-size: 15px;
    margin: 10px 40px;
}

.card_content {
    font-size: 13px;
    padding-top: 5px;
}

ul.card_container li {
    background: #C4C4C4;
    color: #000;
    list-style-type: none;
    padding: .5em;
    margin: 3px;
    border-radius: 4px;
    font-family: 'NanumSquare', sans-serif !important;
}

#topButton {
    position: absolute;
    right: 3%;
    bottom: 30px;
    display: none;
    z-index: 999;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: #005aab;
    margin: 0 auto;

}

.xi-caret-up{
    color: #fff;
    margin: 1rem 1rem;

}